@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title-decoration{
  @apply text-green-600
}

input{
  @apply m-3 p-2 border-green-700 border-8 px-2 rounded-2xl 
}